*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* =====================header portion starts=================== */
/*for the icon*/
#trapezoid{
    position: absolute;
    top: 60px;
    left: 5px;
    border-top: 100px solid #39bd37;
    /* border-left: 25px solid transparent;
    border-right: 25px solid transparent; */
    width: 180px;
}
#trapezoid:before {
    position: relative;
    top: -170px;
    content: ""; /*content na thaakle draw hobe na. so ekta empty content dite hobe*/
    border-bottom: 50px solid #e8c900;
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;

  }

header h1{
    position: relative;
    top: -125px;
    left: 5px;
    display: inline-block;
    font-variant: small-caps;
    text-align: center;
    color: #e3e3e3;
}

nav{
    width: 100%;
    display: block;
    background-color: #d90019;
    overflow: hidden;
}

nav a{
    display: inline-block;
    float: right;

    padding: 25px 10px;

    color: black;
    text-align: center;
    text-decoration: none;

    transition: color 0.5s ease;
}

nav a:hover{
    background-color: #a30214;
    color: #f2f2f0;
}

#language_change{
    display: inline-block;
    position: absolute;
    right: 5px;
    text-align: center;
    padding: 0 10px;

    color: #d6d6d6;
}

#language_change:hover{
    color: #001f63;
    background: none;
    opacity: 1;
}

#search_bar{
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 20px;
    width: 20%;
    border: none;
    float: right;
}

/* collapse-able menu */
.collapse-able-bar{
    display: none;
    position: relative;
    background-color: #d90019;
    color: #e0e0e0;
    width: 100%;
    height: 50px;
    font-size: 210%;
}
#collapse-able-icon{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#collapse-able-icon:hover{
    background-color: #d4d4d4;
    color: black;
    opacity: 0.5;
    border-radius: 3px;
}



/* =====================header portion starts=================== */

/* =====================footer portion starts=================== */
footer{
    clear: both;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-image: linear-gradient(to top, #100630, #010136);
    color: #98989c;
    /* background-image: linear-gradient(to right, red , yellow); */
}

.supports{
    width: 20%;
    height: auto;
    margin: 2% 0;
    margin-right: 5%;
    margin-left: 5%;
    display: inline-block;
    float: left;
    text-align: left;
}
.supports h3{
    font-size: 150%;
}

.account{
    width: 20%;
    height: auto;
    margin: 2% 0;
    margin-right: 5%;
    display: inline-block;
    text-align: left;
}
.account h3{
    font-size: 150%;
}

footer a{
    font-size: 90%;
    text-decoration: none;
    display: block;
    color: #98989c;
}

footer a:hover{
    color: #ededed;
}

footer hr{
    margin-bottom: 5%;
}

#copyright{
    clear: both;
    margin: 0 5%;
}

/* =====================footer portion ends=================== */


/* ===========media queries for header and footer============== */
@media only screen and (max-width: 480px){
    /* ====for header==== */
    nav{
        text-align: center;
    }
    nav a{
        display: block;
        float: none;
    }
    #search_bar{
        width: 85%;
        display: block;
        float: none;
    }
    #language_change{
        position: static;
        width: 100%;
        line-height: 50px;
        display: block;
        float: none;
        text-align: center;
    }

    /* ====for footer==== */
    .supports{
        display: block;
    }
    .account{
        display: block;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 480px){
    nav{
        display: none;
    }

    .collapse-able-bar{
        display: block;
    }
}

